@font-face {
	font-family: Berlin_Sans_FB_Bold;
	src: url('Berlin_Sans_FB_Bold.ttf');
;}
body {
	background-image: url("BackgroundScene.png");
	background-color: #32921f;		
  	font-family: Berlin_Sans_FB_Bold;
  	text-align: center;

  	position: fixed;
  	top: 0;
  	left: 0;

  	min-height: 100%;
  	min-width: 100%;

  	width: 100%;
  	height: auto;

  	background-repeat: no-repeat;
  	background-size: cover;
}

.text{
  color: #f2f2d1;
<<<<<<< HEAD
  font-size: 40px;
  text-align: left;
=======
  /*font-size: 40px;*/
  /*text-align: left;*/
>>>>>>> f1b1f6a7ec9c4a260f90d3f369b7543844c67032
}

h1{
  color: #230c0;
  font-size: 40px;
}